<fds-sidenav type="modal">
  <div slot="sidenavContent">
    <div class="fds-sidenav-header">
      <fds-logo></fds-logo>
    </div>
    <div class="fds-sidenav-list">
      <mwc-list activatable="">
        <mwc-list-item selected="" activated="" graphic="icon">
          <span>Home</span>
          <mwc-icon slot="graphic">home</mwc-icon>
        </mwc-list-item>
      </mwc-list>
    </div>
  </div>
  <div slot="appContent">
      <fds-app-bar appname="" logoredirecturi="" #appBar>
        <mwc-icon-button icon="menu" slot="navigationIcon"></mwc-icon-button>

        <fds-launchpad slot="actions">
        </fds-launchpad>

        <mwc-icon-button icon="search" slot="actions"></mwc-icon-button>
        <mwc-icon-button icon="notifications_none" slot="actions"></mwc-icon-button>
        <mwc-icon-button icon="help_outline" slot="actions"></mwc-icon-button>
        <fds-user-profile slot="actions" username="Raya Hristova" #userProfile>
          <div slot="actions">
            <fds-button fullwidth="" label="Logout" icon="logout" (click)='logout()'></fds-button>
          </div>
        </fds-user-profile>
        <mwc-icon-button icon="more_vert" slot="actions"></mwc-icon-button>
      </fds-app-bar>
      <div class="main-content">
        <app-home></app-home>
      </div>
    </div>
</fds-sidenav>