<fds-sidenav type="modal">
  <div slot="sidenavContent">
    <div class="fds-sidenav-header">
      <fds-app-card label="Corporate Account Services" secondary></fds-app-card>
    </div>
    <div class="fds-sidenav-list">
      <mwc-list activatable="">
        <mwc-list-item selected="" activated="" graphic="icon">
          <span>Home</span>
          <mwc-icon slot="graphic">home</mwc-icon>
        </mwc-list-item>
      </mwc-list>
    </div>
  </div>
  <div slot="appContent">
    <fds-app-bar appname="" #appBar>
      <fds-icon-button icon="menu" slot="navigationIcon"></fds-icon-button>

      <fds-icon-button icon="search" slot="actions"></fds-icon-button>
      <fds-icon-button icon="notifications_none" slot="actions"></fds-icon-button>
      <fds-icon-button icon="help_outline" slot="actions"></fds-icon-button>
      <fds-user-profile slot="actions" username="" #userProfile>
        <div slot="actions">
          <fds-button fullWidth label="Logout" icon="logout" (click)="logout()"></fds-button>
        </div>
      </fds-user-profile>
      <fds-icon-button icon="more_vert" slot="actions"></fds-icon-button>
    </fds-app-bar>
    <div class="main-content">
      <app-home></app-home>
    </div>
  </div>
</fds-sidenav>